body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
}
.kk{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* ================= FOOTER ================= */

.footer {
    margin-top: 3rem;
    background-color: #ebebeb;
    padding: 2rem 0;
}

.f-info {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 1rem;
}


/* Social icons */

.f-info-social {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
}

.f-info-social a {
    color: #222;
    font-size: 1.5rem;

    text-decoration: none;

    transition: 0.2s;
}

.f-info-social a:hover {
    color: #fe424d;
    transform: scale(1.1);
}


/* Footer links */

.f-info-links {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 1.5rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

/* cards */

.card{
    border : none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;

}
.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

/* card effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* show-image */

.show-img{
    height: 25rem;
    object-fit: cover;
}

.listing-map {
    min-height: 360px;
    width: 100%;
    background: #eef1f3;
}


